In [12]:
import pandas as pd
import numpy as np
import requests
import json
import os
import pprint
from statesjson import us_states_json
from states import us_states

In [17]:
Alabama = pd.read_json("United States - Alabama.json")
Alaska = pd.read_json("United States - Alaska.json")
Arizona = pd.read_json("United States - Arizona.json")
Arkansas = pd.read_json("United States - Arkansas.json")
California = pd.read_json("United States - California.json")
Colorado = pd.read_json("United States - Colorado.json")
Connecticut = pd.read_json("United States - Connecticut.json")
Delaware = pd.read_json("United States - Delaware.json")
Florida = pd.read_json("United States - Florida.json")
Georgia = pd.read_json("United States - Georgia.json")
Hawaii = pd.read_json("United States - Hawaii.json")
Idaho = pd.read_json("United States - Idaho.json")
Illinois = pd.read_json("United States - Illinois.json")
Indiana = pd.read_json("United States - Indiana.json")
Iowa = pd.read_json("United States - Iowa.json")
Kansas = pd.read_json("United States - Kansas.json")
Kentucky = pd.read_json("United States - Kentucky.json")
Louisiana = pd.read_json("United States - Louisiana.json")
Maine = pd.read_json("United States - Maine.json")
Maryland = pd.read_json("United States - Maryland.json")
Massachusetts = pd.read_json("United States - Massachusetts.json")
Michigan = pd.read_json("United States - Michigan.json")
Minnesota = pd.read_json("United States - Minnesota.json")
Mississippi = pd.read_json("United States - Mississippi.json")
Missouri = pd.read_json("United States - Missouri.json")
Montana = pd.read_json("United States - Montana.json")
Nebraska = pd.read_json("United States - Nebraska.json")
Nevada = pd.read_json("United States - Nevada.json")
New_Hampshire = pd.read_json("United States - New Hampshire.json")
New_Jersey = pd.read_json("United States - New Jersey.json")
New_Mexico = pd.read_json("United States - New Mexico.json")
New_York = pd.read_json("United States - New York.json")
North_Carolina = pd.read_json("United States - North Carolina.json")
North_Dakota = pd.read_json("United States - North Dakota.json")
Ohio = pd.read_json("United States - Ohio.json")
Oklahoma = pd.read_json("United States - Oklahoma.json")
Oregon = pd.read_json("United States - Oregon.json")
Pennsylvania = pd.read_json("United States - Pennsylvania.json")
Rhode_Island = pd.read_json("United States - Rhode Island.json")
South_Carolina = pd.read_json("United States - South Carolina.json")
South_Dakota = pd.read_json("United States - South Dakota.json")
Tennessee = pd.read_json("United States - Tennessee.json")
Texas = pd.read_json("United States - Texas.json")
Utah = pd.read_json("United States - Utah.json")
Vermont = pd.read_json("United States - Vermont.json")
Virginia = pd.read_json("United States - Virginia.json")
Washington = pd.read_json("United States - Washington.json")
#West_Virginia = pd.read_json("United States - West Virginia.json")
Wisconsin = pd.read_json("United States - Wisconsin.json")
Wyoming = pd.read_json("United States - Wyoming.json")

In [25]:
ds_df = pd.DataFrame().append(Alabama).append(Alaska).append(Arizona).append(Arkansas).append(California).append(Colorado).append(Connecticut).append(Delaware).append(Florida).append(Georgia).append(Hawaii).append(Idaho).append(Illinois).append(Indiana).append(Iowa).append(Kansas).append(Kentucky).append(Louisiana).append(Maine).append(Maryland).append(Massachusetts).append(Michigan).append(Minnesota).append(Mississippi).append(Missouri).append(Montana).append(Nebraska).append(Nevada).append(New_Hampshire).append(New_Jersey).append(New_Mexico).append(New_York).append(North_Carolina).append(North_Dakota).append(Ohio).append(Oklahoma).append(Oregon).append(Pennsylvania).append(Rhode_Island).append(South_Carolina).append(South_Dakota).append(Tennessee).append(Texas).append(Utah).append(Vermont).append(Virginia).append(Washington).append(Wisconsin).append(Wyoming)

In [26]:
ds_df

,Country,Limiting Magnitude,Date,Coordinates
0,United States - Alabama,7,2009-03-22,"[33.0428, -87.394]"
1,United States - Alabama,7,2009-03-19,"[33.4033, -86.385]"
2,United States - Alabama,7,2009-03-22,"[32.6994, -86.7865]"
3,United States - Alabama,7,2009-03-23,"[33.0326, -87.2895]"
4,United States - Alabama,6,2015-08-13,"[34.7287, -86.7437]"
...,...,...,...,...
97,United States - Wyoming,-999,2015-02-01,"[43.4673, -110.787]"
98,United States - Wyoming,-9999,2010-03-07,"[41.514, -109.47]"
99,United States - Wyoming,-9999,2017-10-07,"[43.5874, -110.711]"
100,United States - Wyoming,-9999,2010-03-08,"[41.514, -109.47]"
101,United States - Wyoming,-9999,2010-03-08,"[41.17, -104.77]"